.jumbotron {
  background-color: #8ac7c4;
}

body {
  background-color: #c3e2e1;
}

label {
  font-size: 18px;
}

p {
  font-size: 18px;
}

#page-title {
  margin-top: 10%;
  margin-left: 20px;
}

#sun-img {
  float: right;
  max-width: 300px;
}

.form-group {
  padding-bottom: 20px;
}

.form-control {
  background-color: #E2FEF9;
}

.kyoto, .rome, .qaqortoq, .puerto-escondido, .singapore {
  text-align: center;
  display: none;
}

ul {
  text-align: left !important;
}

#rome-img, #kyoto-img, #qaqortoq-img, #puerto-escondido-img, #singapore-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rome-facts, .kyoto-facts, .qaqortoq-facts, .puerto-escondido-facts, .singapore-facts {
  display: none;
  margin-bottom: 100px;
}

#otherinput {
  display: none;
}

#reload {
  display: block;
  margin: 0 auto;
  background-color: #8ac7c4;
  color: black;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 100px;
}

#submit {
  background-color: #EA7434;
  font-size: 24px;
  margin-bottom: 100px;
}

.vacation-form {
  margin-left: 25%;
  max-width: 500px;
}

.qaqortoq h5, .kyoto h5, .rome h5, .puerto-escondido h5, .singapore h5 {
  margin-bottom: 50px;
}
